# File types
* text=auto
*.psc	text eol=crlf
*.pex -text
CanvasConsumer/resources/**/*.html text eol=lf
CanvasConsumer/resources/**/*.css text eol=lf
CanvasConsumer/resources/**/*.svg text eol=lf
CanvasConsumer/variants/**/*.html text eol=lf
Staging-*/Interface/VenworksCanvas/**/*.html text eol=lf
Staging-*/Interface/VenworksCanvas/**/*.css text eol=lf
Staging-*/Interface/VenworksCanvas/**/*.svg text eol=lf
#
# Large Binary Types
*.esm filter=lfs diff=lfs merge=lfs -text
*.esp filter=lfs diff=lfs merge=lfs -text
*.ba2 filter=lfs diff=lfs merge=lfs -text
*.nif filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.dds filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.max filter=lfs diff=lfs merge=lfs -text
*.spp filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.7z filter=lfs diff=lfs merge=lfs -text
